<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzbn.huzhu1230">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--9.0bug-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<!--    视频SDK权限-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--    高德定位权限-->
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/hz_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hz_logo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:targetApi="n"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="@string/app_name"
        android:fullBackupContent="false">
        <!--设计图大小-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>
            <meta-data android:name="com.amap.api.v2.apikey" android:value="d5bad3740efd7b1d268e1c70c3aa6410"/>

        <activity android:name=".ui.activity.MainActivity" android:launchMode="singleTask">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.LoginActivity" android:launchMode="singleTask" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.ForgetPwdActivity" />
        <activity android:name=".ui.activity.MyInfoActivity" />
        <activity android:name=".ui.activity.EditInfoActivity" />
        <activity android:name=".ui.activity.EditCertificateActivity" />
        <activity android:name=".ui.activity.MyScoreActivity" />
        <activity android:name=".ui.activity.ScoreListActivity" />
        <activity android:name=".ui.activity.MyPublishActivity" />
        <activity android:name=".ui.activity.MySettingActivity" />
        <activity android:name=".ui.activity.MyXinYuActivity" />
        <activity android:name=".ui.activity.MyHonorActivity" />
        <activity android:name=".ui.activity.MyCollectionActivity" />
        <activity android:name=".ui.publish.PublishEmergencyActivity" />
        <activity android:name=".ui.publish.PublishAedActivity" />
        <activity android:name=".ui.activity.MoreKnowledgeActivity" />
        <activity android:name=".ui.publishdetail.PublishEmergencyDetailActivity" />
        <activity android:name=".ui.publishdetail.ProvideClueActivity" />
        <activity android:name=".ui.home.AedActivity" />
        <activity android:name=".ui.activity.SearchHelpActivity" />
        <activity android:name=".ui.activity.SecondHelpActivity" />
        <activity android:name=".ui.activity.ThirdHelpActivity" />
        <activity android:name=".ui.home.MessageActivity" />
        <activity android:name=".ui.home.MessageListActivity" />
        <activity android:name=".ui.home.SearchActivity" />
        <activity android:name=".ui.home.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor">

        </activity>
        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.EditLanguageActivity" />
        <activity android:name=".ui.activity.EditSexActivity" />
        <activity android:name=".ui.activity.CreditListActivity" />
        <activity android:name=".ui.call.AliRtcChatActivity" />
        <!--      高德定位服务  -->
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>